h1{
    
    text-align: center;
    background-color: mediumspringgreen;
}
h2{
    text-align: center;
}
p{
    text-align: center;
    
}
li{
    text-align: center;
}
.imagem1{
    width:200;
    text-align: center;
}
.imagem2 {
    width: 200;
    text-align: center;
}
.imagem3{
    width: 200;
    text-align: center;
}
.imagem4{
    width: 200;
    text-align: center;
}
.luz{
    background-color: rgba(0, 0, 0, 0.274);
}
.lista{
    display: inline-block;
    padding: 5%;
    margin-right: 10%;
}
