h1{
    
    text-align: center;
    color: black;
}
h2{
    text-align: center;
}
p{
    text-align: center;
    
}
li{
    text-align: center;
}
.imagem1{
    width:30%;
    text-align: center;
    size: 100cap;
}
.imagem2 {
    width: 30%;
    text-align: center;
    size: 100cap;
}
.imagem3{
    width: 30%;
    text-align: center;
    size: 100cap;
}
.imagem4{
    width: 30%;
    text-align: center;
    size: 100cap;
}
.luz{
    color: darkgoldenrod;
}
.lista{
    display: inline-block;
    padding: 5%;
    margin-right: 10%;
}
.buttom{
    color: chocolate;
}
nav a:hover{
    color: brown;
    text-decoration: underline;
}

